.part {
    width: auto;
    background-color: white;
    height: 12vh;
    margin: 1.5rem 2rem;
    padding: 0.5rem 0.5rem;
    border-radius: 0.6rem ;
}

h3 {
    color: #212529;
    text-align: left;
    font-family: helvetica neue regular,helvetica neue,Helvetica,Roboto,Arial,sans-serif;
    box-sizing: border-box;
    font-weight: 500;
    line-height: 1;
    font-size: 1.75rem;
    margin-top: 10px;
}

p {
    color: #212529;
    text-align: left;
    font-family: helvetica neue regular,helvetica neue,Helvetica,Roboto,Arial,sans-serif;
    box-sizing: border-box;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.2rem;
    margin-top: 10px;
}